@import "reset.css";

:root {
    ---black: #10100d;
    ---tomato: #b2270d;
    ---darker: #979797;
    ---gray: #dedddd;
    ---leaf: #2c8b0c;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(---tomato);
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 800px;
    height: 540px;
    border-radius: 15px;
    background-color: white;
    margin-right: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    margin-right: 24px;
    width: 180px;
    height: 580px;
    display: inline-block;
}

.btns button,
.btns label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 28px;
    border-radius: 100%;
    text-align: center;
    transition: top 0.01s linear;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: var(---tomato);
    box-shadow: 0 0 0 1px var(---tomato) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgba(255, 255, 255, 0.7), 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    border: none;
}

.btns button {
    width: 70px;
    height: 70px;
}

.btns button:hover,
.btns label:hover {
    background-color: var(---tomato);
}

.btns button:active,
.btns label:active {
    top: 9px;
    box-shadow: 0 0 0 1px var(---tomato) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
}

button i,
label i {
    font-size: 30px;
}

div .line-range,
div .font-range {
    margin-bottom: 12px;
    -webkit-appearance: none;
    background: linear-gradient(to right, var(---leaf) 0%, var(---leaf) 40%, #fff 40%, #fff 100%);
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 10px;
    outline: none;
    transition: background 450ms ease-in;
}

div .line-range::-webkit-slider-thumb,
div .font-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
}

.text-tool {
    margin-top: 16px;
}

select {
    margin-top: 8px;
    width: 184px;
    height: 50px;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 16px;
    outline: 0 none;
    opacity: 0.85;
    background-color: var(---leaf);
    color: white;
    font-size: 16px;
}

select option {
    background: var(---black);
    color: white;
    padding: 3px 0;
}

select:hover {
    opacity: 1;
    cursor: pointer;
}

#text {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 176px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 16px;
    padding-left: 8px;
    font-size: 16px;
}

.color-options {
    width: 800px;
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.color-option {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: double white;
    cursor: pointer;
    transition: transform ease-in-out 0.1s;
}

.color-option:hover {
    transform: scale(1.3);
}

#palette {
    margin: 2px auto;
    display: block;
    text-align: center;
    width: 70px;
    height: 70px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transform: translate(-6px, -3px);
}

#palette i {
    font-size: 40px;
}

#palette:hover {
    transform: scale(1.3);
}

.right-btns {
    position: relative;
    height: 600px;
}

.tomato-img {
    position: absolute;
    bottom: 16px;
    width: 200px;
    cursor: pointer;
}

.tooltiptext {
    /* visibility: hidden; */
    width: 140px;
    height: 70px;
    background-color: var(---leaf);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    transition: 0.2s;
    opacity: 0.8;
}

.info:hover .tooltiptext {
    /* visibility: visible; */
    opacity: 1;
}

.info .tooltiptext::after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 5px;
}

.info .tooltiptext::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: var(---leaf) transparent transparent transparent;
}

.info .tooltiptext {
    padding: 16px;
    font-size: 16px;
    bottom: 32%;
    left: 32%;
    margin-left: -60px;
}

.tooltiptext i {
    margin-top: 12px;
    font-size: 40px;
    color: white;
}

.tooltiptext i:hover {
    color: var(---black);
    transition: 0.5s;
    transform: scale(1.3);
}
